# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
APP_NAME=Football Tracker v1.0
APP_ENV=development

# Server Timeouts
READ_TIMEOUT=10s
WRITE_TIMEOUT=10s
SHUTDOWN_TIMEOUT=30s

# PostgreSQL Database Configuration
#overided in the docker compose
DB_HOST=localhost
DB_PORT=5432
DATABASE_NAME=<db_name>
DATABASE_USERNAME=<db_userName>
DATABASE_PASSWORD=<db_userPsw>

# Database Connection Pool
MAX_POOL_SIZE=100
MIN_POOL_SIZE=10
MAX_CONN_IDLE_TIME=30s
MAX_CONN_LIFE_TIME=30m

# Logger Configuration
# Levels: debug, info, warn, error
LOGGER_LEVEL=info

# -----------------------------------------------------------------------------
# SESSION & AUTHENTICATION
# -----------------------------------------------------------------------------
SESSION_TOKEN_TTL=1h
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_DOMAIN=
SESSION_CLEANUP_INTERVAL=2h

JOBS_ENABLED=true
JOB_SESSION_CLEANUP_ENABLED=true
# -----------------------------------------------------------------------------
# OPENTELEMETRY CONFIGURATION
# -----------------------------------------------------------------------------
OTEL_ENABLED=true
#OTEL_EXPORTER_OTLP_ENDPOINT=tempo:4317
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=football-tracker

# Grafana Admin Credentials
GRAFANA_ADMIN_USER=<grafana_user>
GRAFANA_ADMIN_PASSWORD=<grafana_psw>


GRAFANA_USERS_ALLOW_SIGN_UP=false

# Grafana Plugins (comma-separated list)
GRAFANA_INSTALL_PLUGINS=grafana-piechart-panel


# Prometheus Retention Period (default: 30 days)
PROMETHEUS_RETENTION=30d

# Prometheus Scrape Interval (default: 15 seconds)
PROMETHEUS_SCRAPE_INTERVAL=15s

# Loki Log Retention Period (default: 720 hours = 30 days)
LOKI_RETENTION_PERIOD=720h

# Loki Ingestion Rate Limit (MB per second per tenant)
LOKI_INGESTION_RATE_MB=10

# Loki Ingestion Burst Size (MB)
LOKI_INGESTION_BURST_MB=20


# Tempo Trace Retention Period (default: 720 hours = 30 days)
TEMPO_RETENTION_PERIOD=720h

# Tempo Ingestion Rate Limit (bytes per second)
TEMPO_INGESTION_RATE_BYTES=5000000

# Tempo Ingestion Burst Size (bytes)
TEMPO_INGESTION_BURST_BYTES=10000000

# -----------------------------------------------------------------------------
# EXPORTERS CONFIGURATION
# -----------------------------------------------------------------------------
NGINX_EXPORTER_SCRAPE_URI=http://nginx:8080/stub_status

# -----------------------------------------------------------------------------
# PORT MAPPINGS (optional - can override in docker-compose.yml)
# -----------------------------------------------------------------------------
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
LOKI_PORT=3100
TEMPO_PORT=3200
TEMPO_OTLP_GRPC_PORT=4317
TEMPO_OTLP_HTTP_PORT=4318
TEMPO_JAEGER_GRPC_PORT=14250
POSTGRES_EXPORTER_PORT=9187
NGINX_EXPORTER_PORT=9113
